<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workspace.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @workspace.user_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @workspace.priority %>
</p>

<%= link_to 'Edit', edit_workspace_path(@workspace) %> |
<%= link_to 'Back', workspaces_path %>
